<%- include('header') -%><%- include('menu') -%>
<% book.forEach(function(item) { %>
<div class="container">
  <div class="row">
    <div class="col-4 lg-3">
      <div class="container">
        <div class="row">
          <div class="col lg-2">
            <a href="/books/page/<%= item._id %>">
              <img
                src=<%=item.pic_path%>
                width="200"
                height="300"
                text-align:
                left
                class="img-fluid"
              />
            </a>
            <h1></h1>
          </div>
          <div class="col lg-2">
            <h5><%=item.title%></h5>
          </div>
        </div>
      </div>
    </div>
  </div>

 <%});%>

<%- include('footer') -%>